body {
	font-size: 14px;
}

.leve-uppercase{
	text-transform: uppercase;
}

.form-horizontal label{
	text-align: left !important;
	margin: 0;
	padding: 0 0 0 10px !important;
	border-bottom: 1px solid #eee; 
	font-size: 14px;
}

.control-group input, .control-group select {
	padding: 0px !important;
	font-size: 14px !important;
}

.form-horizontal .control-group{
	margin-bottom: 5px;
}
